/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* BODY */
body {
    background: linear-gradient(to right, #000000, #1f1f1f);

}

/* CONTENEDOR PRINCIPAL FLEX */
.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADER */   
.encabezado {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-image:url(img/banner.jpg);
}

.encabezado h1 {
    display: flex;
    color: white;
    padding-left: 4rem;
    font-size: 100px;
    font-family: 'Teko', sans-serif;
}

.encabezado h2 {
    display: flex;
    color: white;
    padding-left: 2rem;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    padding: 0;
}


/* Modo oscuro */
.dark {
    background-color: #343a40;
    color: white;
}

/* Boton Eliminar articulo dentro del carrito */
.boton-eliminar {
    background-color:#343a40;
    border: none;
    font-size: 20px;
}

/* Total dentro del carrito */
.total {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 3rem;
}

/* Links del navbar */
.nav-link {
    cursor: pointer;
}

/* div fetchDolar */
.fetchDolar a{
   color: white;
}

body {
    overflow-x: hidden;
  }